@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.background1{
    background-image: url('/assents/images/fondo-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link{
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.new{
    width: 73px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF5480;
    color: #FFF;
    font-size: 16px;

}

.derecha{
    text-align: right;
}

.debajo{
    margin: auto;
    font-weight: 400;

}

.rosita{
    color: #FF5480; 
}

.propietario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}
.titulo{
    font-size: 28px;
    font-weight: 600;
    line-height: 46px; /* 164.286% */
    letter-spacing: -0.175px;
    color: #111210;


}

.subtitulo{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: -0.1px;
    color: #9B9B9B;


}



.posicion{
    padding-left: 80px;   
}

.miniespacio{
    padding-left: 40px;
}

.rosita{
    color: #FF5480;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.grande{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 58px; /* 161.111% */
    letter-spacing: -0.225px;
}

.icono{
    background-image: url('assents/images/blanco.png');
    fill: #FFF;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.08));
}

.chikito{
    color: #9B9B9B;
    font-size: 16px;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
    font-weight: 400;

}

.background2{
    background-image: url('/assents/images/fondo-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.caja{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

.imagen1{
    width: 100%;
}

.background4{
    background-image: url('/assents/images/fondo-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen2{
    width: 100%;
}

.nav-item{
    font-weight: 600;
}

.titulin{
    font-weight: 700;
}

.texto{
    font-weight: 600;
}

.centro{
    text-align: center;

}